<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= app.name %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />
    <link rel="stylesheet" href="stylesheets/ui-lightness/jquery-ui-1.8.23.custom.css" type="text/css">

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= app.id %>" />

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript">
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }

      $(function(){

        <% if (user) { %>
        $('#logout').click(function() {
          $.ajax( {
            type: "POST",
            url: "/logout",
            dataType: "json",
            data: {
              uid: '<%= user.id %>'
            },
            success: function (data) {}
          });
          FB.logout(
            function (response) {
              // user is now logged out
              location.reload();
            }
          ); 
        });

        $('#friendlist').autocomplete({
          source: function (req, res) {
            $.ajax( {
              type: "POST",
              url: "/friendlist",
              dataType: "json",
              data: {
                name_startsWith: req.term,
                uid: '<%= user.id %>'
              },
              success: function(data) {
                res($.map(data, function (friend) {
                  return {
                    label: friend.name,
                    id: friend.id
                  }
                }).slice(0, 10)); 
              },
              error: function() {
                console.log("ajax error");
              }
            });
          },
         minLength: 1,
         select: function(event, ui) {
          $('#friendlist').val(ui.item.label);
          $.ajax( {
            type: "POST",
            url: "/retrievelinks",
            dataType: "json",
            data: {
              uid: ui.item.id
            },
            success: function (data) {
             console.log("ajax success"); 
             console.log(data);
            },
            error: function() {
              console.log("ajax failure");
            }
          });
         } 
        });

        <% } %>

      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <header class="clearfix">
      <% if (user) { %>
      <p id="picture" style="background-image: url(https://graph.facebook.com/<%= user.id %>/picture?type=normal)"></p>

      <div>
        <h1>Welcome, <strong><%= user.name %></strong></h1>
        <div class="test">
          <input type="text" id="friendlist" placeholder="Find your friends" />
        </div> 
        <div class="logout"><a href="#" id="logout">Logout</a></div>

      </div>
      <% } else { %>
      <div>
        <h1>Welcome</h1>
        <div class="fb-login-button" data-scope="user_likes,user_photos" scope="read_stream"></div>
      </div>
      <% } %>
    </header>

    <% if (user) { %>

    <section id="samples" class="clearfix">
      <h1>Examples of the Facebook Graph API</h1>

      <div class="list">
        <h3>Friends using this app</h3>
        <ul id="friends_using_app" class="friends">
          <% req.friends_using_app.forEach(function(friend) { %>
            <li>
              <a href="https://www.facebook.com/<%= friend.id %>" target="_top">
                <img src="https://graph.facebook.com/<%= friend.id %>/picture?type=square" alt="<%= friend.name %>">
                <%= friend.name %>
              </a>
            </li>
          <% }); %>
        </ul>
      </div>

      <div class="list">
        <h3>Links you've posted</h3>
        <ul id="links" class="links">
          <% req.links.forEach(function(link) { %>
          <li>
            <div>
              <a href="<%= link.link %>" target="_top">
                <img src="<%= link.picture %>">
              </a>
            </div>
            <div>
            <a href="<%= link.link %>" target="_top">
              <div><strong><%= link.name %></strong></div>
              <div><%= link.description %></div>
            </a>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>

    </section>

    <% } %>

  </body>
</html>

